In [2]:
import pandas as pd
from datetime import datetime

In [3]:
df = pd.read_csv("weather.csv")

In [4]:
df['dt'] = pd.to_datetime(df['dt'],unit='s')

In [5]:
df = df.drop(['dt_iso', 'city_name'], axis=1)

In [6]:
df['dt'] = pd.to_datetime(df['dt'].astype(str)) + pd.DateOffset(hours=1)

In [7]:
df = df.drop(['timezone'], axis = 1)

In [8]:
df

,dt,lat,lon,temp,visibility,dew_point,feels_like,temp_min,temp_max,pressure,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,2017-01-01 01:00:00,53.345035,-6.267261,5.39,9999.0,4.35,1.78,5.36,6.56,1019,...,NaN,2.30,NaN,NaN,NaN,75,501,Rain,moderate rain,10n
1,2017-01-01 02:00:00,53.345035,-6.267261,5.39,9999.0,4.35,2.28,5.36,5.56,1019,...,NaN,1.51,NaN,NaN,NaN,75,501,Rain,moderate rain,10n
2,2017-01-01 03:00:00,53.345035,-6.267261,5.39,9999.0,4.35,2.28,5.36,5.56,1019,...,NaN,0.64,NaN,NaN,NaN,75,500,Rain,light rain,10n
3,2017-01-01 04:00:00,53.345035,-6.267261,4.39,9999.0,3.36,0.04,4.36,5.56,1019,...,NaN,0.17,NaN,NaN,NaN,75,500,Rain,light rain,10n
4,2017-01-01 05:00:00,53.345035,-6.267261,4.39,9999.0,2.42,0.04,4.36,4.56,1019,...,NaN,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27181,2019-12-31 20:00:00,53.345035,-6.267261,9.33,9999.0,6.42,9.33,8.87,9.56,1030,...,2.68,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n
27182,2019-12-31 21:00:00,53.345035,-6.267261,8.81,9999.0,6.09,7.02,8.10,9.56,1030,...,NaN,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n
27183,2019-12-31 22:00:00,53.345035,-6.267261,7.86,9999.0,5.33,7.86,6.53,8.51,1030,...,1.79,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n
27184,2019-12-31 23:00:00,53.345035,-6.267261,7.49,9999.0,4.09,7.49,5.53,8.51,1029,...,1.79,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n
27185,2020-01-01 00:00:00,53.345035,-6.267261,7.21,9999.0,4.52,5.85,4.53,8.41,1029,...,NaN,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n

In [11]:
df_2018=df.loc[(df["dt"]>'2017-12-31 23:00:00')&(df["dt"]<'2019-1-1 00:00:00')]

In [14]:
df_2018=df_2018.reset_index()

In [15]:
df_2018.drop(["index"], axis = 1)

,dt,lat,lon,temp,visibility,dew_point,feels_like,temp_min,temp_max,pressure,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,2018-01-01 00:00:00,53.345035,-6.267261,4.39,9999.0,1.25,-1.68,4.36,4.56,990,...,NaN,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n
1,2018-01-01 01:00:00,53.345035,-6.267261,4.39,9999.0,2.26,-1.93,4.36,4.56,990,...,18.00,NaN,NaN,NaN,NaN,40,520,Rain,light intensity shower rain,09n
2,2018-01-01 02:00:00,53.345035,-6.267261,4.39,9999.0,2.26,-1.68,4.36,4.56,990,...,NaN,NaN,NaN,NaN,NaN,75,520,Rain,light intensity shower rain,09n
3,2018-01-01 03:00:00,53.345035,-6.267261,5.39,9999.0,2.40,-0.47,4.53,5.41,990,...,18.50,NaN,NaN,NaN,NaN,40,802,Clouds,scattered clouds,03n
4,2018-01-01 04:00:00,53.345035,-6.267261,5.39,9999.0,2.40,-0.47,4.53,5.41,990,...,NaN,NaN,NaN,NaN,NaN,40,802,Clouds,scattered clouds,03n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9055,2018-12-31 19:00:00,53.345035,-6.267261,9.76,9999.0,5.93,9.76,9.27,10.32,1034,...,4.92,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n
9056,2018-12-31 20:00:00,53.345035,-6.267261,10.36,9999.0,6.32,9.44,9.98,10.56,1034,...,4.47,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n
9057,2018-12-31 21:00:00,53.345035,-6.267261,9.86,9999.0,6.39,9.86,9.21,10.56,1034,...,5.81,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n
9058,2018-12-31 22:00:00,53.345035,-6.267261,9.86,9999.0,6.39,9.86,9.21,10.56,1034,...,4.47,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n
9059,2018-12-31 23:00:00,53.345035,-6.267261,9.76,9999.0,6.48,9.09,9.27,10.32,1034,...,4.92,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n

In [16]:
df_2018.dtypes

index                           int64
dt                     datetime64[ns]
lat                           float64
lon                           float64
temp                          float64
visibility                    float64
dew_point                     float64
feels_like                    float64
temp_min                      float64
temp_max                      float64
pressure                        int64
sea_level                     float64
grnd_level                    float64
humidity                        int64
wind_speed                    float64
wind_deg                        int64
wind_gust                     float64
rain_1h                       float64
rain_3h                       float64
snow_1h                       float64
snow_3h                       float64
clouds_all                      int64
weather_id                      int64
weather_main                   object
weather_description            object
weather_icon                   object
dtype: object